.a {
  height: 75px;
  line-height: 75px;
  background-color: azure;
}

.b {
  height: 150px;
  line-height: 150px;
  background-color: bisque;
}


.cd {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  line-height: 125px;
}

.cd p {
  flex-grow: 1;
}

.efgh {
  display: flex;
  flex-wrap: wrap;
  max-width: 480px;
}

.efgh p {
  flex-grow: 1;
}

.i {
  height: 80px;
  line-height: 80px;
  background-color: indigo;
}

/* Desktop  */
@media only screen and (min-width: 1050px){

  .a {
    height: 100px;
    max-width: 960px;
    margin-left: 5%;
  }

  .desktop-center {
    display: flex;
    flex-grow: 4;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .desktop-torso {
    display: flex;
    justify-content: center;
    margin-left: 5%;
  }

  .b {
    align-self: flex-start;
    width: 21%;
    min-width: 200px;
    height: 600px;
  }

  .cd {
    flex-direction: row;
    max-height: 200px;
    max-width: 760px;
    
  }

  .efgh {
    width: 96%;
    max-width: 760px;
    height: 78%;
    max-height: 250px;
  }

  .i {
    flex-grow: 1;
    width: 79%;
    max-width: 760px;
    height: 150px;
    max-height: 150px;
  }


}
