.a {
  height: 75px;
  line-height: 75px;
  background-color: azure;
}

.b {
  height: 150px;
  line-height: 150px;
  background-color: bisque;
}


.cd {
  line-height: 125px;
}

.cd:after {
    content: "";
    display: table;
    clear: both;
}

.efgh {
  max-width: 480px;
  margin: 0px auto;
}

.efgh:after {
  content: "";
  display: table;
  clear: both;
}

.i {
  height: 80px;
  line-height: 80px;
  background-color: indigo;
}

.i:after {
  content: "";
  display: table;
  clear: both;
}

/* Desktop  */
@media only screen and (min-width: 768px){

  .a {
    height: 100px;
    max-width: 960px;
  }

  .desktop-center {
    margin: 0px auto;
    margin-left: 100px;
  }

  .b {
    display: inline-block;
    float: left;
    width: 21%;
    max-width: 200px;
    height: 600px;
  }

  .cd {
    float:left;
    max-height: 200px;
    max-width: 760px;
    clear: right;
  }

  .efgh {
    float: left;
    width: 96%;
    max-width: 760px;
    height: 78%;
    max-height: 250px;
    clear: right;
  }

  .i {
    float: left;
    width: 79%;
    max-width: 760px;
    height: 150px;
    max-height: 150px;
  }


}
