.a {
  height: 75px;
  line-height: 75px;
}

.b {
  height: 150px;
  line-height: 150px;
}


.cd {
  height: 125px;
  line-height: 125px;
}

.efgh {
  max-width: 500px;
  margin: 0px auto;
}

.i {
  height: 80px;
  line-height: 80px;
}
