.efgh p {
  display: inline-block;
  width: 240px;
  height: 250px;
  line-height: 250px;
  margin: 0px;
  padding: 0px;
}

#c {
  background-color: cadetblue;
}

#d {
  background-color: darkgreen;
}

#e {
  background-color: grey;
}

#f {
  background-color: firebrick;
}

#g {
  background-color: goldenrod;
}

#h {
  background-color: honeydew;
}

@media only screen and (min-width: 768px){
  
  .cd p {
    display: inline-block;
    width: 380px;
    height: 200px;
  }

  .efgh p {
    display: inline-block;
    width: 190px;
    height: 250px;
    line-height: 250px;
    margin: 0px;
    padding: 0px;
  }

  .a {
    background-color: burlywood;
  }

  .b {
    background-color: gray;
  }

  #c {
    background-color: royalblue;
  }
  
  #d {
    background-color: olivedrab;
  }
  
  #e {
    background-color: yellowgreen;
  }
  
  #f {
    background-color: orange;
  }
  
  #g {
    background-color: blueviolet;
  }
  
  #h {
    background-color: gray;
  }
  
  .i {
    background-color: green;
  }

}

@media only screen and (min-width: 1050px){
  
  .cd p {
    display: inline-block;
    width: 380px;
    height: 200px;
  }

  .efgh p {
    display: inline-block;
    width: 190px;
    height: 250px;
    line-height: 250px;
    margin: 0px;
    padding: 0px;
  }

  .a {
    background-color: yellowgreen;
  }

  .b {
    background-color: wheat;
  }

  #c {
    background-color: violet;
  }
  
  #d {
    background-color: teal;
  }
  
  #e {
    background-color: slateblue;
  }
  
  #f {
    background-color: rebeccapurple;
  }
  
  #g {
    background-color: paleturquoise;
  }
  
  #h {
    background-color: orchid;
  }
  
  .i {
    background-color: navy;
  }

}